.main{
    width: 100%;
    min-height: 100vh;
}

.footer{
    padding-bottom: 20px;
}


.home{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    margin: 0 auto;
    left: 50%;
    font-size: x-large;
}

.form{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 35%;
}

.form_input{
    height:  40px;
    width: 40rem;
}

.form_button{
    height: auto;
    width: 10rem;
}
.spinner_container{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 20rem;
    text-align: center;
}


.spinner_footer{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loading_spinner{
    position: fixed;
    top: 20%;
    left: 46%;
    right: 0;
    bottom: 0;
    height: 10rem;
    width: 10rem;
}
.settings_window{
    width: 100%;
}

.settings_tab_menu{
    /* background-color: transparent; */
    width: 20%;
    padding: 2rem;
}

.tab_button{
    background-color: none;
    border: none;
}

.tab_link{
    border: none;
    text-align: left;
    color: rgb(0, 127, 231);
}

.tab_link:hover{
    color:rgb(0, 127, 231)
}

.settings_options{
    justify-content: left;
    align-content: left;
    border-radius: 5px;
    width: 80%;
    padding: 1rem;
    margin: 0 1rem;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 50%;
}

.apply_button{
    margin-left: auto;
    margin-right: 10rem;
    width: 30rem;
}

.settings_button{
    width: 30rem;
}

.center_title{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 50%;
    padding: 1rem;
    border: .2rem solid;
    border-radius: 20px;
}

.top_bottom{
    padding-bottom: 1rem;
}

.upload_box{
    margin: 2rem;
    border: .5rem dashed blue;
    width: 100rem;
    border-radius: 20px;
    padding: 1rem;
    top: 0;
    overflow: hidden;
    cursor: pointer;
}

.file_list{
    align-items: left;
    padding: .5rem;
    position: fixed;
    left: 6%;
    top: 55%;
    display: inline;
    height: 50%;
    padding-bottom: 5rem;
    overflow: auto;
    width: 50%;
}
.list_cell{
    width: 100%;
    position: relative;
    border: .2rem solid blue;
    border-radius: 10px;
    padding: .5rem;
    margin: 0.5rem;
    left: 0;
}

.td{
    border-bottom: none;
}

.cell_image{
    position: absolute;
    bottom: 12px;
    right: 5px;
    border: .15rem solid red;
    padding: .5rem;
    border-radius: 10px;
}
.cell_image:hover, .cell_image:focus{
    background-color: rgb(149, 19, 19);
}

.cell_warning{
    border: .15rem solid #ff9900;
    bottom: 12px;
    right: 5px;
    padding: .5rem;
    border-radius: 10px;
    background-color: transparent;
}

.conversion_stats{
    display: inline;
    margin: 1rem;
}

.conversion_header{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 50%;
    padding-bottom: 1rem;
    text-decoration: underline;
}